<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bbs.demo.mapper.MemberMapper">
 
    <resultMap id="MemberResultMap" type="com.bbs.demo.model.Member">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="email" column="email"/>
        <result property="nickname" column="nickname"/>
        <result property="phone" column="phone"/>
        <result property="profileImg" column="profile_img"/>
        <result property="agreeMarketing" column="agree_marketing"/>
        <result property="isManager" column="is_manager"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
    </resultMap>

    <select id="getAllMembers" resultMap="MemberResultMap">
        SELECT * FROM Users
    </select>

    <select id="getMemberById" resultMap="MemberResultMap" parameterType="int">
        SELECT * FROM Users WHERE user_id = #{userId}
    </select>
    
    <select id="findByUsername" resultMap="MemberResultMap" parameterType="string">
        SELECT * FROM Users WHERE username = #{username}
    </select>

    <insert id="insertMember" parameterType="com.bbs.demo.model.Member">
        INSERT INTO Users (username, password, email, nickname, phone, profile_img, agree_marketing, is_manager, created_at)
        VALUES (#{username}, #{password}, #{email}, #{nickname}, #{phone}, #{profileImg}, #{agreeMarketing}, #{isManager}, NOW())
    </insert>

    <update id="updateMember" parameterType="com.bbs.demo.model.Member">
        UPDATE Users
        SET 
            username = #{username},
            <if test="password != null and password != ''">
                password = #{password},
            </if>
            email = #{email},
            nickname = #{nickname},
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="profileImg != null">
                profile_img = #{profileImg},
            </if>
            <if test="agreeMarketing != null">
                agree_marketing = #{agreeMarketing},
            </if>
            is_manager = #{isManager}
        WHERE user_id = #{userId}
    </update>
    
    <delete id="deleteMember" parameterType="int">
        DELETE FROM Users WHERE user_id = #{userId}
    </delete>

    <select id="countAll" resultType="int">
        SELECT COUNT(*) FROM Users
    </select>
    
</mapper>